<div id="investment">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <header class="section-header">
      <h3>Investment</h3>
    </header>
    <p>
        Salzat Fish Limited farms is a INDIA-based company leveraging nextgeneration eco-friendly aquaculture technology. The company is currently considering sites for a hatchery, fish farm facilities, and a state-of-the-art processing plant in coastal INDIA. 
    </p>
    <p>
        The company has since (2020) been working in India with an experienced team and has studied several potential areas, collecting data and qualifying both offshore and onshore sites in the state. Ensuring optimal logistics and a solid foundation for next phase development.
    </p>
    <p>
        Salzat Fish Limited farms is privately funded and has so far not been actively seeking external capital. 
    </p>
    <p>
        The company has however already been contacted by several investors that have voiced an interest in the project, and Salzat Fish Limited farms will together with advisors enter a dialog with potential strategic investors for future capitalization of the company.
    </p>
    <p>
        Salzat Fish Limited farms are open to enter into a confidential dialogue with potential investors. Please contact (            ) from our legal advisor (         ) if you require more information about starting a dialogue.  
    </p>
  </div>
</div>
