<table class="table table-striped">
    <thead>
    <tr>      
      <th scope="col">Name</th>      
      <th scope="col">Company</th>  
      <th scope="col">Email</th>      
      <th scope="col">Phone</th> 
      <th scope="col">Address</th> 
      <th scope="col">Comments</th> 
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cDetails of consumerDetails; index as i">      
      <td>        
        {{ cDetails.name }}
      </td>
      <td>        
        {{ cDetails.companyname }}
      </td>
      <td>        
        {{ cDetails.email }}
      </td>
      <td>        
        {{ cDetails.phone }}
      </td>
      <td>        
        {{ cDetails.address }}
      </td>
      <td>        
        {{ cDetails.comments }}
      </td>      
    </tr>
    </tbody>
  </table>
