<!-- ======= About Us Section ======= -->
<div id="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <header class="section-header">
        <h3>About Us</h3>
        <p>We are passionate about offering you the best possible product.</p>
        <p>From the very start of its journey all the way to your dinner plate, our
          fishes are all Indian. We take great pride in having a local product that
          is born, raised, and handled through the whole process in India.</p>
          <h4 class="text-center">FRESH PRAWNS EVERY DAY DIRECTLY FROM THE OCEANS</h4>
          <p>From the ocean in India through processing and freight, fresh Fishes are
            delivered all over the India within a few hours. We are dedicated and
            passionate about offering the Indian market a product that is fresh,
            healthy, and environmentally friendly.
            Prawns from Indian Aqua farms ensure that you can enjoy a unique
            freshness and a superior taste.
            </p>
            <h4 class="text-center">GOOD FOR YOU AND YOUR HEALTH</h4>
          <p>In addition to being tasty and nutrition India, Prawns is also very good
            for your health.
            Prawns offer high levels of the omega-3 fatty acids EPA and DHA and
            are very beneficial in reducing the risk of heart disease, diabetes, and
            obesity.
            </p>
            <p><strong>We are introducing modern solutions to the major challenges in the
              traditional aquaculture in India through the India of eco-friendly closed
              pen systems that will set a new international standard for fish farming,
              all based out of India</strong></p>
      </header>
        
       <div class="row about-cols ">
        <div class="col-md-2"></div>
        <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Mission</a></h2>
            <p>
              We are passionate about offering you the best possible product.
              From the very start of its journey all the way to your dinner plate, our fishes are all Indian. We take great pride in having a local product that is born, raised, and handled through the whole process in India.
            </p>
          </div>
        </div>

        <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Vision</a></h2>
            <p>
              Our Vision is to offer our customers a tasteful, healthy and ethical fish product. Building good relationships forms the basis on which we operate, with our staff but also with our customers and suppliers.
            </p>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div> 
    

    </div>
  </div><!-- End About Us Section -->
