<!-- ======= Contact Section ======= -->
<div id="contact" class="section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="section-header">
        <h3>Contact Us</h3>
        <p>Do You Want To Know About Our Business Goal. We Are Here To Help You !<br/>Send Us Your Message. We Will Get Back To You Soon !<br/></p>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="bi bi-geo-alt"></i>
            <h3>Address</h3>
            <address>Office No-206, 2nd Floor, Plot No-14/15,<br/>The Corporate Park, Sector- 18 Sanpada,<br/>Navi Mumbai- 400 705</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="bi bi-phone"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:02246035832">022 46035832</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="bi bi-envelope"></i>
            <h3>Email</h3>
            <p><a href="mailto:info@example.com">info@example.com</a></p>
          </div>
        </div>

      </div>
 
      <div class="form">
        <form method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-4">
              <input type="text" name="name" class="form-control" [(ngModel)]="name" id="name" placeholder="Your Name" required>
            </div>
            <div class="form-group col-md-4">
              <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email" placeholder="Your Email" required>
            </div>
            <div class="form-group col-md-4">
              <input type="tel" class="form-control" name="phone" id="phone" [(ngModel)]="phone" pattern="[0-9]{10}" placeholder="Your Contact Number(8108281642)" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" [(ngModel)]="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" [(ngModel)]="message" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading" *ngIf="isLoading">Loading</div>
            <div class="alert alert-success" *ngIf="!isFirstLoad && emailSendResponse">Thank You! We will be in touch.</div>
            <div class="alert alert-danger" *ngIf="!isFirstLoad && !emailSendResponse">Sorry there was an error sending your message. Please try again later.</div>
          </div>
          <div class="text-center"><button type="button" (click)="sendEmail()">Send Message</button></div>
        </form>
      </div>

    </div>
</div>