<div id="hero">
<div class="hero-container" >
  <ngb-carousel>
    <ng-template ngbSlide>
      <div>
        <img [src]="images[0]">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">IT ALL STARTS WITH ROE</h2>
            <p class="animate__animated animate__fadeInUp">
              The Roe is the start of the journey. First class genetics is used to achieve a superior product.
              The roe is fertilized at the Salzat Fish Limited farms hatchery where it is kept in tubs on land in cold fresh water. After 60 days the freshly hatched prawns is now called yolk sac fry, from its stomach sack that it nourished from for four to six weeks. When it begins to absorb feed, it is moved from the hatchery to a larger tub.
            </p>
            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <img [src]="images[1]">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">THE ROE LATER GROWS INTO A SMOLT PRAWNS</h2>
            <p class="animate__animated animate__fadeInUp">The smolt is grown in a land based grow out facility in a temperature and bio controlled environment that ensures a healthy fish with strong growth rate and an excellent platform before being transported to the ocean.</p>
            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <img [src]="images[2]">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">THE SMOLT PRAWNS  IS PLACED IN OCEAN BASED CLOSED PENS</h2>
            <p class="animate__animated animate__fadeInUp">
              When the smolt is ready it is transported from land to the Ocean where it is placed in an eco-friendly Closed Pen. 
              The closed pen creates an optimal environment for the prawns to grow.                            
            </p>
            <ul class="banner-ul">
              <li>Eliminates fish escapes and separates the fish completely from predators</li>
              <li>Reduces the need for medicine/chemicals</li>
              <li>Eliminates sea lice</li>
              <li>Controls waste from reaching the ocean </li>
            </ul> 
            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <img [src]="images[3]">        
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">AND THERE IS GROWS INTO A LARGE PRAWNS</h2>
              <p class="animate__animated animate__fadeInUp">
                When the prawn reaches the desired size, it is collected onto a modern harvesting vessel and it is now ready for a short trip back on land to be processed by our dedicated team. 
              </p>
              <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
            </div>       
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <img [src]="images[4]">  
        <div class="carousel-container">             
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">PROCESSING AND HATCHERY</h2>
            <p class="animate__animated animate__fadeInUp">
              Salzat Fish Limited farms intend to develop a State of the art hatchery and processing facility in India.. We want to grow our operations in a smart and reasonable way. 
            </p>
            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <img [src]="images[4]">  
        <div class="carousel-container">             
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">THE FINISHED PRODUCT</h2>
            <p class="animate__animated animate__fadeInUp">
              Superior prawns born are transformed into first class products for the Indian market. 
 
Our eco-friendly production and close access to the market ensures a low carbon footprint, and provides access to fresh and healthy products with exquisite taste. 
 
Prawns from Salzat Fish Limited farms are highly beneficial for your health with high levels of omega 3 fats, EPA and DHA, decreasing the risk for heart diseases, diabetes and obesity.

            </p>
            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>  
</div> 
</div>