<div id="products" class="section-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h3>Our Products</h3>
      <p>
        Salzat Fish is known in India for its state-of-the-art infrastructure
        and consistent high quality and wide range of premium seafood products.
      </p>
    </div>
    <div class="row">
      <div class="d-flex">
        <ul
          ngbNav
          #nav="ngbNav"
          class="nav-pills"
          orientation="vertical"
          style="min-width: 250px; border: 1px solid; border-radius: 2px"
        >
          <li ngbNavItem="Pomfret">
            <a ngbNavLink>Pomfret</a>
            <ng-template ngbNavContent>
              <div>
                <div class="row">
                  <div class="col-md-5">
                    <img class="customimg" src="assets/img/products/pomfret.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div><strong>Type</strong>: Pomfret</div>
                    <div><strong>Weight Per Pack: </strong>: 1 KG - 7 KG - 10 KG</div>
                    <div><strong>Usage/Application:</strong>: Restaurants I Hotels I Resorts I Frozen Stores I  Frozen Stores</div>
                    <div><strong>Packaging Type</strong>: Plastic Bags, Gunny Bags</div>
                    <div><strong>Freshness Indicators</strong>: Intact & transparent eyes, firm texture, red gills, thick meat & bright colour</div>
                  </div>
                </div>
              </div>
              <p>
                Our pomfret fishes are grown and produced under the guidance of quality control staff represented at the sites in Alibaugh, Surat and Andhra Pradesh – the seafood capital of India. We have varieties of Fresh pomfret | Fresh silver pomfret | Fresh Black pomfret | Frozen pomfret | Frozen silver pomfret | Frozen Black pomfret.
              </p>
            </ng-template>
          </li>
          <li ngbNavItem="pampletfish">
            <a ngbNavLink>Fresh King Pamplet Fish </a>
            <ng-template ngbNavContent>
              <div>
                <div class="row">
                  <div class="col-md-5">
                    <img class="customimg" src="assets/img/products/surmaicut.png" />
                  </div>
                  <div class="col-md-7">
                    <div><strong>Type</strong>: Fresh King Pamplet Fish</div>
                    <div><strong>Weight Per Pack: </strong>: 1 kg – 5 kg - 10kg</div>
                    <div><strong>Usage/Application:</strong>: Restaurants, Hotels, Malls, Super Markets and many more</div>
                    <div><strong>Packaging Type</strong>: Plastic Bags</div>
                    <div><strong>Freshness Indicators</strong>: Intact & transparent eyes, firm texture, red gills & bright colour</div>
                  </div>
                </div>
              </div>
              <p>
                Our Pamplet Fish are grown and produced under the guidance of quality control staff represented at the sites in Alibaugh, Surat and Andhra Pradesh – the seafood capital of India.
              </p>
            </ng-template>
          </li>
          <li ngbNavItem="Mackerel">
            <a ngbNavLink>Mackerel</a>
            <ng-template ngbNavContent>
              <div>
                <div class="row">
                  <div class="col-md-5">
                    <img class="customimg" src="assets/img/products/mackerel.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div><strong>Type</strong>: Mackerel</div>
                    <div><strong>Weight Per Pack: </strong>: 1 kg – 5 kg - 10kg</div>
                    <div><strong>Usage/Application:</strong>: Restaurants, Hotels, Super Markets and many more</div>
                    <div><strong>Packaging Type</strong>: Plastic Bags</div>
                    <div><strong>Freshness Indicators</strong>: Intact & transparent eyes, firm texture, red gills & bright colour</div>
                  </div>
                </div>
              </div>
              <p>
                Our pomfret fishes are grown and produced under the guidance of quality control staff represented at the sites in Alibaugh, Surat and Andhra Pradesh – the seafood capital of India. We have varieties of Fresh pomfret | Fresh silver pomfret | Fresh Black pomfret | Frozen pomfret | Frozen silver pomfret | Frozen Black pomfret.
              </p>
            </ng-template>
          </li>

          <li ngbNavItem="FreshPampletfish">
            <a ngbNavLink>Fresh Pamplet fish</a>
            <ng-template ngbNavContent>
              <div>
                <div class="row">
                  <div class="col-md-5">
                    <img class="customimg" src="assets/img/products/surmaicut.png" />
                  </div>
                  <div class="col-md-7">
                    <div><strong>Type</strong>: Fresh Pamplet fish</div>
                    <div><strong>Weight Per Pack: </strong>: 1 kg – 5 kg</div>
                    <div><strong>Usage/Application:</strong>: Restaurants, Hotels, Super Markets and many more</div>
                    <div><strong>Packaging Type</strong>: Plastic Bags</div>
                    <div><strong>Freshness Indicators</strong>: Intact & transparent eyes, firm texture, red gills & bright colour</div>
                  </div>
                </div>
              </div>
              <p>
                Our pomfret fishes are grown and produced under the guidance of quality control staff represented at the sites in Alibaugh, Surat and Andhra Pradesh – the seafood capital of India. We have varieties of Fresh pomfret | Fresh silver pomfret | Fresh Black pomfret | Frozen pomfret | Frozen silver pomfret | Frozen Black pomfret.
              </p>
            </ng-template>
          </li>
          <li ngbNavItem="VenamiPrawns">
            <a ngbNavLink>Venami Prawns</a>
            <ng-template ngbNavContent>
              <div>
                <div class="row">
                  <div class="col-md-5">
                    <img class="customimg" src="assets/img/products/asian-1238507_1920.jpg" />
                  </div>
                  <div class="col-md-7">
                    <div><strong>Type</strong>: Venami Prawns</div>
                    <div><strong>Weight Per Pack: </strong>: 10 kg</div>
                    <div><strong>Usage/Application:</strong>: Hotels</div>
                    <div><strong>Packaging Type</strong>: Carton Boxes</div>
                    <div><strong>Freshness Indicators</strong>: Red Colour</div>
                  </div>
                </div>
              </div>
              <p>
                Venami prawns Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
              </p>
            </ng-template>
          </li>
          <li ngbNavItem="Vannameiwhiteshrimp">
            <a ngbNavLink>Vannamei white shrimp</a>
            <ng-template ngbNavContent>
              <div>
                <div class="row">
                  <div class="col-md-5">
                    <img class="customimg" src="assets/img/products/Vannamei white shrimp.png" />
                  </div>
                  <div class="col-md-7">
                    <div><strong>Type</strong>: Vannamei white shrimp</div>
                    <div><strong>Weight Per Pack: </strong>: 1 kg – 5 kg</div>
                    <div><strong>Usage/Application:</strong>: Restaurants, Hotels, Super Markets and many more</div>
                    <div><strong>Packaging Type</strong>: Plastic Bags</div>
                    <div><strong>Freshness Indicators</strong>: Shell hard & Shiny bright colour</div>
                  </div>
                </div>
              </div>
              <p>
                Native to Central and south America and also called Pacific white shrimp. It is important aquaculture species reared in most parts of the world. Adult live in the ocean at depth up to 72 metres, young ones live in estuaries. Success of Vannamei is due to better growth rate, feed conversion efficiency, adaptation to variation in temperature, salinity and other environmental conditions. Brood stock of Vannamei are usually imported from Hawaii & South America.
              </p>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="ml-1" style="padding-left: 10px;"></div>
      </div>
      <!-- <div class="col-sm-3 col-lg-3 col-md-3" style="background-color: brown">
        <nav>
          <div
            class="nav nav-tabs nav-fill flex-column"
            id="nav-tab"
            role="tablist"
          >            <a
              onclick="WriteCookie(1);"
              id="nav-paplet-tab"
              class="nav-item nav-link active"
              href="#edit1"
              data-toggle="tab"
              aria-selected="true"
              role="tab"
              arial-controls="1"
              >Pomfret</a
            ><a
              onclick="WriteCookie(2);"
              id="nav-paplet-tab"
              class="nav-item nav-link"
              href="#edit2"
              data-toggle="tab"
              aria-selected="true"
              role="tab"
              arial-controls="2"
              >Fresh King Pamplet Fish </a
            ><a
              onclick="WriteCookie(3);"
              id="nav-paplet-tab"
              class="nav-item nav-link"
              href="#edit3"
              data-toggle="tab"
              aria-selected="true"
              role="tab"
              arial-controls="3"
              >Mackerel</a
            ><a
              onclick="WriteCookie(4);"
              id="nav-paplet-tab"
              class="nav-item nav-link"
              href="#edit4"
              data-toggle="tab"
              aria-selected="true"
              role="tab"
              arial-controls="4"
              >Fresh Pamplet fish</a
            ><a
              onclick="WriteCookie(13);"
              id="nav-paplet-tab"
              class="nav-item nav-link"
              href="#edit13"
              data-toggle="tab"
              aria-selected="true"
              role="tab"
              arial-controls="13"
              >Venami Prawns</a
            ><a
              onclick="WriteCookie(14);"
              id="nav-paplet-tab"
              class="nav-item nav-link"
              href="#edit14"
              data-toggle="tab"
              aria-selected="true"
              role="tab"
              arial-controls="14"
              >Vannamei white shrimp</a
            >
          </div>
        </nav>
      </div>
      <div class="col-md-9" style="background-color: aquamarine">asdasd</div> -->
    </div>
  </div>
</div>
