<div id="footer">
<div class="footer-top">
    <div class="container">
      <div class="row" id="footer">

        <div class="col-lg-2 col-md-6 footer-links"></div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Office No-206, 2nd Floor, Plot No-14/15 <br>
            The Corporate Park, Sector- 18 Sanpada,<br>
            Navi Mumbai- 400 705 <br>
            <strong>Phone:</strong> 022-46035832<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

          <div class="social-links">            
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>            
          </div>

        </div>

        <div class="col-lg-2 col-md-6 footer-links"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>SALZAT FISH</strong>. All Rights Reserved
    </div>   
  </div>
</div>